openapi: 3.1.0
info:
  title: Compliance Matching API
  version: 2.0.0
  description: |
    A sector-agnostic API for recording trade matches with cryptographic proof.
    
    **Key Features:**
    - Record trade agreements (matches) between parties
    - Generate SHA-256 cryptographic proofs
    - Confirm intent (non-binding) for compliance tracking
    - Full audit trail and evidence chain
    
    **Important:** This API records intentions only. It does NOT:
    - Execute payments
    - Create binding contracts
    - Handle logistics
  contact:
    email: api-support@izenzo.co.za
  license:
    name: Proprietary
    url: https://api.trade.izenzo.co.za/terms

servers:
  - url: https://api.trade.izenzo.co.za/functions/v1
    description: Production

security:
  - ApiKeyAuth: []

tags:
  - name: Entities
    description: Legal entity management and screening
  - name: Interests
    description: Declared interest operations
  - name: POIs
    description: Trade Request lifecycle
  - name: POI Engagements
    description: Reviewer/admin operations on the POI hold-point queue (counterparty engagement records)
  - name: WaD
    description: Willing-and-Able Deal hard-gates
  - name: PoD
    description: Proof-of-Delivery milestones and breaches
  - name: Compliance
    description: Compliance case management
  - name: Authority
    description: Authority-to-Bind and UBO management
  - name: Trade Approvals
    description: Trade approval lifecycle
  - name: Due Diligence
    description: KYC, screening, risk scoring
  - name: Matches
    description: Trade match operations
  - name: Signals
    description: Buyer/seller signal operations
  - name: API Keys
    description: API key management
  - name: Webhooks
    description: Webhook configuration
  - name: Health
    description: System health checks

paths:
  /entities:
    post:
      tags: [Entities]
      summary: Create a legal entity
      operationId: createEntity
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityCreate'
      responses:
        '201':
          description: Entity created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorised'
    get:
      tags: [Entities]
      summary: List entities
      operationId: listEntities
      parameters:
        - name: entity_id
          in: query
          schema:
            type: string
            format: uuid
          description: Get a specific entity by ID
        - name: status
          in: query
          schema:
            type: string
            enum: [active, suspended, blocked, archived]
        - name: entity_type
          in: query
          schema:
            type: string
            enum: [INDIVIDUAL, COMPANY]
        - name: all
          in: query
          schema:
            type: string
            enum: ["true"]
          description: Admin only - list across all organisations
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
      responses:
        '200':
          description: Entity list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorised'
    patch:
      tags: [Entities]
      summary: Update an entity (admin only)
      operationId: updateEntity
      parameters:
        - name: entity_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityUpdate'
      responses:
        '200':
          description: Entity updated
        '401':
          $ref: '#/components/responses/Unauthorised'
        '403':
          description: Admin role required

  /entities/screen:
    post:
      tags: [Entities]
      summary: Run screening on an entity (admin only)
      operationId: screenEntity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreeningRequest'
      responses:
        '200':
          description: Screening result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '403':
          description: Admin role required

  /interests:
    post:
      tags: [Interests]
      summary: Declare interest between entities
      operationId: createInterest
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [from_entity_id, to_entity_id]
              properties:
                from_entity_id:
                  type: string
                  format: uuid
                to_entity_id:
                  type: string
                  format: uuid
                context:
                  type: string
                  maxLength: 1000
      responses:
        '201':
          description: Interest declared
        '401':
          $ref: '#/components/responses/Unauthorised'
    get:
      tags: [Interests]
      summary: List interests
      operationId: listInterests
      responses:
        '200':
          description: Interest list

  /pois:
    post:
      tags: [POIs]
      summary: Issue a Trade Request
      operationId: createPoi
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [mutual_interest_id, completion_probability]
              properties:
                mutual_interest_id:
                  type: string
                  format: uuid
                completion_probability:
                  type: number
                  minimum: 0.501
                  maximum: 1.0
      responses:
        '201':
          description: POI issued
        '422':
          description: Probability below threshold

  /pois/transition:
    post:
      tags: [POIs]
      summary: Transition Intent state
      operationId: transitionPoi
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [poi_id, to_state]
              properties:
                poi_id:
                  type: string
                  format: uuid
                to_state:
                  type: string
      responses:
        '200':
          description: State transitioned

  /poi-engagements/{id}:
    patch:
      tags: [POI Engagements]
      summary: Update a POI engagement (admin/reviewer only)
      operationId: updatePoiEngagement
      description: |
        Update a single field (or combination) on a POI engagement record.
        Admin/reviewer endpoint — requires admin role.

        ### `counterparty_email` validation rules

        When the request body includes `counterparty_email`, the value is:

        1. **Trimmed** of leading/trailing whitespace.
        2. **Lowercased** before validation and persistence.
        3. **Length-bounded**: minimum 3 characters, maximum 254
           characters (RFC 5321 local + domain limit).
        4. **Format-checked** as a valid email address.

        Failures return the canonical `400 VALIDATION_ERROR` envelope with
        per-field issues in `details.errors[]`.

        ### Auto-resolution and the `binding` hint

        On a successful PATCH that included `counterparty_email`, the server
        attempts to resolve the email to a registered organisation
        (`profiles.org_id`). The outcome is reported back as an optional
        `binding` object on the response so the reviewer dashboard can show
        whether the recipient will see the engagement in their inbound queue.

        Resolution is **always non-fatal** — the email is saved regardless of
        whether a matching organisation is found. See the `BindingHint`
        schema for the four possible `status` values.

        ### Idempotency

        This endpoint honours the `Idempotency-Key` header. Replays return
        the byte-identical cached body — including the `binding` hint — so
        the reviewer dashboard stays consistent across retries. Validation
        failures (4xx) are never cached.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Engagement UUID
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
          description: |
            Optional unique key to deduplicate retries. Same key returns the
            cached 2xx body verbatim.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePoiEngagementRequest'
      responses:
        '200':
          description: |
            Engagement updated. When the request included `counterparty_email`,
            the response includes a `binding` object describing the
            email→organisation resolution outcome.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePoiEngagementResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorised'
        '404':
          $ref: '#/components/responses/NotFound'

  /p3-wad:
    post:
      tags: [WaD]
      summary: Issue a Willing-and-Able Deal
      operationId: issueWad
      description: |
        Runs 7 deterministic hard-gates:
        1. Intent state = COMPLETED
        2. Both entities ACTIVE
        3. UBO integrity verified
        4. Authority-to-Bind records present
        5. Mandatory governance docs validated
        6. Zero open compliance cases
        7. Sufficient token liquidity
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [poi_id]
              properties:
                poi_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: WaD issued or denied with gate results
        '422':
          description: Hard-gate failure

  /pods:
    post:
      tags: [PoD]
      summary: Create a Proof-of-Delivery
      operationId: createPod
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [wad_id, milestones]
              properties:
                wad_id:
                  type: string
                  format: uuid
                milestones:
                  type: array
                  maxItems: 20
                  items:
                    type: object
                    required: [title, due_date]
                    properties:
                      title:
                        type: string
                      due_date:
                        type: string
                        format: date
      responses:
        '201':
          description: PoD created with milestones

  /compliance-cases:
    post:
      tags: [Compliance]
      summary: Create a compliance case
      operationId: createComplianceCase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entity_id]
              properties:
                entity_id:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Case opened
    get:
      tags: [Compliance]
      summary: List compliance cases
      operationId: listComplianceCases
      responses:
        '200':
          description: Case list

  /authority-bind:
    post:
      tags: [Authority]
      summary: Manage ATB and UBO records
      operationId: authorityBind
      description: |
        Supports multiple actions via `action` field:
        - `ubo_create` - Register a UBO link (person → company with ownership %)
        - `ubo_verify` / `ubo_reject` - Verify or reject a UBO link
        - `atb_create` - Create an Authority-to-Bind record
        - `atb_verify` / `atb_reject` - Verify or reject an ATB record
        - `check` - Validate WaD Gates #3 (UBO ≥ 100%) and #4 (active ATB)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [ubo_create, ubo_verify, ubo_reject, atb_create, atb_verify, atb_reject, check]
                person_entity_id:
                  type: string
                  format: uuid
                company_entity_id:
                  type: string
                  format: uuid
                ownership_percentage:
                  type: number
                  minimum: 0.01
                  maximum: 100
                method:
                  type: string
                  description: ATB verification method (e.g. resolution, power_of_attorney)
                document_id:
                  type: string
                  format: uuid
            examples:
              ubo_create:
                summary: Register UBO link
                value:
                  action: ubo_create
                  person_entity_id: "550e8400-e29b-41d4-a716-446655440001"
                  company_entity_id: "550e8400-e29b-41d4-a716-446655440002"
                  ownership_percentage: 51
              gate_check:
                summary: Check ATB/UBO gates
                value:
                  action: check
                  person_entity_id: "550e8400-e29b-41d4-a716-446655440001"
                  company_entity_id: "550e8400-e29b-41d4-a716-446655440002"
      responses:
        '200':
          description: Action completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '201':
          description: Record created
        '401':
          $ref: '#/components/responses/Unauthorised'
        '403':
          description: Insufficient permissions
    get:
      tags: [Authority]
      summary: List ATB and UBO records
      operationId: listAuthority
      parameters:
        - name: entity_id
          in: query
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            type: string
            enum: [atb, ubo]
      responses:
        '200':
          description: Authority records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /trade-approval:
    post:
      tags: [Trade Approvals]
      summary: Manage trade approvals
      operationId: tradeApproval
      description: |
        Supports actions: `issue`, `revoke`, `renew`.
        Automatically pulls risk band from latest due-diligence score.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action, org_id]
              properties:
                action:
                  type: string
                  enum: [issue, revoke, renew]
                org_id:
                  type: string
                  format: uuid
                valid_days:
                  type: integer
                  default: 365
                  description: Validity period (issue/renew only)
                reason:
                  type: string
                  description: Reason for revocation
            examples:
              issue:
                summary: Issue trade approval
                value:
                  action: issue
                  org_id: "550e8400-e29b-41d4-a716-446655440000"
                  valid_days: 365
              revoke:
                summary: Revoke trade approval
                value:
                  action: revoke
                  org_id: "550e8400-e29b-41d4-a716-446655440000"
                  reason: "Expired KYC documents"
      responses:
        '200':
          description: Approval action completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
        '401':
          $ref: '#/components/responses/Unauthorised'
        '403':
          description: Admin role required

  /trade-status:
    get:
      tags: [Trade Approvals]
      summary: Get trade approval status
      operationId: getTradeStatus
      description: Returns approval outcome only - no sensitive KYC data.
      parameters:
        - name: org_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Trade status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeStatus'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorised'

  /due-diligence:
    post:
      tags: [Due Diligence]
      summary: Due diligence operations
      operationId: dueDiligence
      description: |
        Multi-action endpoint supporting the full KYC lifecycle:
        - `register_directors` - Register company directors
        - `upload_kyc` - Upload KYC document metadata
        - `run_screening` - Trigger IDV/sanctions screening
        - `compute_score` - Calculate risk score
        - `submit_approval` - Submit for multi-role approval
        - `approve_reject` - Approve or reject an approval request
        - `get_dossier` - Retrieve complete DD dossier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [register_directors, upload_kyc, run_screening, compute_score, submit_approval, approve_reject, get_dossier]
                org_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Action completed
        '401':
          $ref: '#/components/responses/Unauthorised'

  /match:
    post:
      tags: [Matches]
      summary: Create a new match
      description: Record a trade agreement and generate cryptographic proof
      operationId: createMatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchCreate'
            examples:
              hemp:
                summary: Hemp Biomass Trade
                value:
                  buyer: { id: "BUYER123", name: "GreenTech Industries" }
                  seller: { id: "SELLER456", name: "BioFarm Cooperative" }
                  commodity: "Hemp Biomass"
                  quantity: { amount: 1000, unit: "kg" }
                  price: { amount: 50000, currency: "EUR" }
                  terms: "Delivery within 30 days"
              steel:
                summary: Steel Trade
                value:
                  buyer: { id: "CONST789", name: "BuildCo Construction" }
                  seller: { id: "STEEL101", name: "Arcelor Steel Mills" }
                  commodity: "Hot-Rolled Steel Coils"
                  quantity: { amount: 50, unit: "tonnes" }
                  price: { amount: 125000, currency: "USD" }
                  terms: "FOB Shanghai, 60 days credit"
      responses:
        '201':
          description: Match created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorised'
        '429':
          $ref: '#/components/responses/RateLimited'

  /match/{id}:
    get:
      tags: [Matches]
      summary: Get a match by ID
      operationId: getMatch
      parameters:
        - $ref: '#/components/parameters/MatchId'
      responses:
        '200':
          description: Match found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorised'

  /match/{id}/settle:
    post:
      tags: [Matches]
      summary: Confirm intent for a match
      description: |
        Records intention to proceed with this match. This is NON-BINDING.
        
        **Important:** This action:
        - ✅ Creates an audit log entry
        - ✅ Adds to the evidence chain
        - ✅ Updates match status
        - ❌ Does NOT create a contract
        - ❌ Does NOT process payment
      operationId: confirmIntent
      parameters:
        - $ref: '#/components/parameters/MatchId'
      responses:
        '200':
          description: Intent confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Match'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorised'

  /matches:
    get:
      tags: [Matches]
      summary: List matches
      operationId: listMatches
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: status
          in: query
          schema:
            type: string
            enum: [matched, settled]
        - name: commodity
          in: query
          schema:
            type: string
          description: Filter by commodity (partial match)
      responses:
        '200':
          description: List of matches
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchList'
        '401':
          $ref: '#/components/responses/Unauthorised'

  /signals:
    post:
      tags: [Signals]
      summary: Create a signal
      operationId: createSignal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignalCreate'
      responses:
        '201':
          description: Signal created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signal'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorised'
    get:
      tags: [Signals]
      summary: List signals
      operationId: listSignals
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [searching, matched, expired]
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: List of signals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Signal'

  /signals/{id}:
    get:
      tags: [Signals]
      summary: Get signal with options
      operationId: getSignal
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Signal with matching options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignalWithOptions'

  /signals/{id}/select:
    post:
      tags: [Signals]
      summary: Select an option
      operationId: selectOption
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [option_id]
              properties:
                option_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Option selected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Selection'

  /api-keys:
    post:
      tags: [API Keys]
      summary: Create an API key
      operationId: createApiKey
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKeyCreate'
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreated'
    get:
      tags: [API Keys]
      summary: List API keys
      operationId: listApiKeys
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'

  /api-keys/{id}:
    delete:
      tags: [API Keys]
      summary: Revoke an API key
      operationId: revokeApiKey
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: API key revoked

  /webhooks:
    post:
      tags: [Webhooks]
      summary: Create webhook endpoint
      operationId: createWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookCreate'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
    get:
      tags: [Webhooks]
      summary: List webhooks
      operationId: listWebhooks
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'

  /wad/{wadId}/attestation-ui:
    get:
      tags: [WaD]
      summary: Get the status-specific attestation UI model for a Signed Deal
      description: |
        Returns the same attestation UI model the web client renders, so non-web
        clients (CLI tools, partner integrations, mobile) can show consistent
        copy and call-to-action wording without re-implementing the WaD state
        machine.

        The response includes:
        - **`ui.canAttest` / `ui.canSeal`** — server-authoritative gates
        - **`ui.title` / `ui.buttonText` / `ui.helperText`** — pre-localised copy
        - **`ui.viewerRole`** — caller's signatory role on this deal
        - **`ui.nextAction`** — machine-readable next step the UI should drive
        - **`ui.attestations`** — per-side attestation tally
        - **`request_id`** — server correlation ID; surface this in user-facing
          error messages so support can trace failures.

        ### Conditional GET (caching)

        The response carries a strong `ETag` validator computed from the
        canonical UI payload (excluding the per-request `request_id`).
        Clients that poll for state changes SHOULD echo the previously seen
        validator back in `If-None-Match`. When the payload is unchanged the
        server returns `304 Not Modified` with no body, saving bandwidth and
        DB cost.

        Because the payload is per-viewer (helper text, viewer role and
        viewer-specific timestamps depend on the caller), the response is
        marked `Cache-Control: private, max-age=10, stale-while-revalidate=30`
        — shared caches MUST NOT store it.

        Requires the caller to be a party to the WaD (buyer or seller org)
        or an admin.
      operationId: getWadAttestationUi
      parameters:
        - $ref: '#/components/parameters/WadIdParam'
        - name: If-None-Match
          in: header
          required: false
          schema:
            type: string
          description: |
            Previously seen `ETag` value. When supplied and still current,
            the server returns `304 Not Modified` with no body.
          example: '"3f786850e387550fdab836ed7e6dc881de23001b1c5e3b6c5b5d5b5e5d5b5e5d"'
      responses:
        '200':
          description: Attestation UI model
          headers:
            ETag:
              description: |
                Strong validator for the response payload. Echo this back in
                `If-None-Match` on subsequent polls to receive `304 Not Modified`
                when the payload is unchanged.
              schema:
                type: string
              example: '"3f786850e387550fdab836ed7e6dc881de23001b1c5e3b6c5b5d5b5e5d5b5e5d"'
            Cache-Control:
              description: Caching directive (always `private` — viewer-specific).
              schema:
                type: string
              example: "private, max-age=10, stale-while-revalidate=30"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WadAttestationUiResponse'
              examples:
                draftFirstSignatory:
                  summary: Draft — caller is first to attest
                  value:
                    wad_id: "f3b1f0d2-8e6a-4d2c-9b3e-2c1f7a0e9d11"
                    status: draft
                    isTerminal: false
                    ui:
                      canAttest: true
                      canSeal: false
                      title: "Attestations open"
                      buttonText: "Attest as first signatory"
                      helperText: "You'll be the first to attest. The other party still needs to attest before this deal can be sealed."
                      viewerRole: buyer_signatory
                      hasAttested: false
                      viewerAttestedAt: null
                      attestations:
                        buyerAttested: false
                        sellerAttested: false
                        buyerAttestedAt: null
                        sellerAttestedAt: null
                        total: 0
                      nextAction: attest
                    request_id: "550e8400-e29b-41d4-a716-446655440000"
                awaitingOtherParty:
                  summary: Caller has attested, awaiting counterparty
                  value:
                    wad_id: "f3b1f0d2-8e6a-4d2c-9b3e-2c1f7a0e9d11"
                    status: awaiting_attestations
                    isTerminal: false
                    ui:
                      canAttest: false
                      canSeal: false
                      title: "Awaiting other party"
                      buttonText: null
                      helperText: "You've attested. Waiting for the counterparty signatory to attest."
                      viewerRole: buyer_signatory
                      hasAttested: true
                      viewerAttestedAt: "2025-04-24T09:15:32.412Z"
                      attestations:
                        buyerAttested: true
                        sellerAttested: false
                        buyerAttestedAt: "2025-04-24T09:15:32.412Z"
                        sellerAttestedAt: null
                        total: 1
                      nextAction: await_other_party
                    request_id: "9d3a4f6c-1b2e-4a8b-9c0d-7e5f4a3b2c10"
                readyToSeal:
                  summary: Both parties attested — ready to seal
                  value:
                    wad_id: "f3b1f0d2-8e6a-4d2c-9b3e-2c1f7a0e9d11"
                    status: awaiting_attestations
                    isTerminal: false
                    ui:
                      canAttest: false
                      canSeal: true
                      title: "Ready to seal"
                      buttonText: "Seal Signed Deal"
                      helperText: "Both signatories have attested. Sealing finalises the evidence bundle."
                      viewerRole: seller_signatory
                      hasAttested: true
                      viewerAttestedAt: "2025-04-24T11:02:08.913Z"
                      attestations:
                        buyerAttested: true
                        sellerAttested: true
                        buyerAttestedAt: "2025-04-24T09:15:32.412Z"
                        sellerAttestedAt: "2025-04-24T11:02:08.913Z"
                        total: 2
                      nextAction: seal
                    request_id: "1f2e3d4c-5b6a-4789-9012-345678901234"
                sealed:
                  summary: Sealed — certificate available
                  value:
                    wad_id: "f3b1f0d2-8e6a-4d2c-9b3e-2c1f7a0e9d11"
                    status: sealed
                    isTerminal: false
                    ui:
                      canAttest: false
                      canSeal: false
                      title: "Signed Deal is sealed"
                      buttonText: null
                      helperText: "All required attestations are in place. The certificate is available to download."
                      viewerRole: buyer_signatory
                      hasAttested: true
                      viewerAttestedAt: "2025-04-24T09:15:32.412Z"
                      attestations:
                        buyerAttested: true
                        sellerAttested: true
                        buyerAttestedAt: "2025-04-24T09:15:32.412Z"
                        sellerAttestedAt: "2025-04-24T11:02:08.913Z"
                        total: 2
                      nextAction: download_certificate
                    request_id: "abcd1234-ef56-4789-9abc-def012345678"
                witnessView:
                  summary: Non-party (witness/admin) view
                  value:
                    wad_id: "f3b1f0d2-8e6a-4d2c-9b3e-2c1f7a0e9d11"
                    status: awaiting_attestations
                    isTerminal: false
                    ui:
                      canAttest: false
                      canSeal: false
                      title: "Awaiting buyer & seller attestations"
                      buttonText: null
                      helperText: "Only the nominated buyer and seller signatories for this trade can attest. You're viewing as a witness/observer."
                      viewerRole: witness
                      hasAttested: false
                      viewerAttestedAt: null
                      attestations:
                        buyerAttested: false
                        sellerAttested: true
                        buyerAttestedAt: null
                        sellerAttestedAt: "2025-04-24T11:02:08.913Z"
                        total: 1
                      nextAction: view_only
                    request_id: "0a1b2c3d-4e5f-4607-8819-9a0b1c2d3e4f"
                revoked:
                  summary: Terminal — revoked
                  value:
                    wad_id: "f3b1f0d2-8e6a-4d2c-9b3e-2c1f7a0e9d11"
                    status: revoked
                    isTerminal: true
                    ui:
                      canAttest: false
                      canSeal: false
                      title: "Signed Deal revoked"
                      buttonText: null
                      helperText: "This Signed Deal has been revoked: counterparty withdrew."
                      viewerRole: buyer_signatory
                      hasAttested: false
                      viewerAttestedAt: null
                      attestations:
                        buyerAttested: false
                        sellerAttested: false
                        buyerAttestedAt: null
                        sellerAttestedAt: null
                        total: 0
                      nextAction: view_only
                    request_id: "deadbeef-1111-4222-9333-444455556666"
        '304':
          description: |
            Not Modified — the payload has not changed since the validator
            supplied in `If-None-Match` was issued. Response body is empty;
            clients should reuse their cached representation.
          headers:
            ETag:
              description: Same validator the client supplied (echoed for cache priming).
              schema:
                type: string
            Cache-Control:
              description: Caching directive (always `private` — viewer-specific).
              schema:
                type: string
              example: "private, max-age=10, stale-while-revalidate=30"
        '401':
          $ref: '#/components/responses/Unauthorised'
        '403':
          description: Caller is not a party to this WaD and not an admin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              example:
                code: FORBIDDEN
                message: "Not authorised to view this WaD"
                requestId: "550e8400-e29b-41d4-a716-446655440000"
        '404':
          $ref: '#/components/responses/NotFound'

  /healthz:
    get:
      tags: [Health]
      summary: Health check
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: System healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for dashboard operations

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
      description: Unique key to ensure idempotent processing
    MatchId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Match UUID
    WadIdParam:
      name: wadId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: WaD (Signed Deal) UUID

  schemas:
    SuccessEnvelope:
      type: object
      properties:
        status:
          type: string
          enum: [SUCCESS]
        timestamp:
          type: string
          format: date-time
        correlation_id:
          type: string
          format: uuid
        data:
          type: object

    TradeStatus:
      type: object
      properties:
        org_id:
          type: string
          format: uuid
        approved_to_trade:
          type: boolean
        trade_status:
          type: string
          enum: [approved, revoked, not_approved]
        approved_at:
          type: string
          format: date-time
          nullable: true
        risk_band:
          type: string
          enum: [low, medium, high]
          nullable: true
        valid_until:
          type: string
          format: date-time
          nullable: true

    EntityCreate:
      type: object
      required: [entity_type, legal_name, jurisdiction_code]
      properties:
        entity_type:
          type: string
          enum: [INDIVIDUAL, COMPANY]
        legal_name:
          type: string
          minLength: 2
          maxLength: 256
        jurisdiction_code:
          type: string
          minLength: 2
          maxLength: 8
        registration_number:
          type: string
          nullable: true
        tax_number:
          type: string
          nullable: true

    EntityUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [active, suspended, blocked, archived]
        legal_name:
          type: string
        registration_number:
          type: string
          nullable: true

    ScreeningRequest:
      type: object
      required: [entity_id, result]
      properties:
        entity_id:
          type: string
          format: uuid
        provider:
          type: string
          default: stub
        result:
          type: string
          enum: [clear, match, review]
        details:
          type: object
    MatchCreate:
      type: object
      required: [buyer, seller, commodity, quantity, price]
      properties:
        buyer:
          type: object
          required: [id, name]
          properties:
            id:
              type: string
              maxLength: 100
            name:
              type: string
              maxLength: 200
        seller:
          type: object
          required: [id, name]
          properties:
            id:
              type: string
              maxLength: 100
            name:
              type: string
              maxLength: 200
        commodity:
          type: string
          maxLength: 200
        quantity:
          type: object
          required: [amount, unit]
          properties:
            amount:
              type: number
              minimum: 0
              exclusiveMinimum: true
            unit:
              type: string
              maxLength: 50
        price:
          type: object
          required: [amount, currency]
          properties:
            amount:
              type: number
              minimum: 0
              exclusiveMinimum: true
            currency:
              type: string
              minLength: 3
              maxLength: 3
        terms:
          type: string
          maxLength: 1000
        metadata:
          type: object
          additionalProperties: true

    Match:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        status:
          type: string
          enum: [matched, settled]
        hash:
          type: string
          description: SHA-256 hash of canonical match data
        buyer_id:
          type: string
        buyer_name:
          type: string
        seller_id:
          type: string
        seller_name:
          type: string
        commodity:
          type: string
        quantity_amount:
          type: number
        quantity_unit:
          type: string
        price_amount:
          type: number
        price_currency:
          type: string
        terms:
          type: string
        metadata:
          type: object
        settled_at:
          type: string
          format: date-time
          nullable: true

    MatchList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Match'
        totalCount:
          type: integer

    SignalCreate:
      type: object
      required: [product]
      properties:
        product:
          type: string
          maxLength: 200
        quantity:
          type: number
        unit:
          type: string
          maxLength: 50
        location:
          type: string
          maxLength: 200
        deliveryWindow:
          type: object
          properties:
            start:
              type: string
              format: date
            end:
              type: string
              format: date
        budget:
          type: number
        currency:
          type: string
          minLength: 3
          maxLength: 3
        notes:
          type: string
          maxLength: 2000

    Signal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [buyer, seller]
        status:
          type: string
          enum: [searching, matched, expired]
        content:
          type: object
        created_at:
          type: string
          format: date-time

    SignalWithOptions:
      allOf:
        - $ref: '#/components/schemas/Signal'
        - type: object
          properties:
            options:
              type: array
              items:
                $ref: '#/components/schemas/Option'

    Option:
      type: object
      properties:
        id:
          type: string
          format: uuid
        what:
          type: string
        how_much:
          type: number
        unit:
          type: string
        price:
          type: number
        currency:
          type: string
        where_location:
          type: string
        score:
          type: number
        freshness:
          type: string

    Selection:
      type: object
      properties:
        selection_id:
          type: string
          format: uuid
        signal_id:
          type: string
          format: uuid
        option_id:
          type: string
          format: uuid
        handoff_url:
          type: string
          format: uri

    ApiKeyCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          maxLength: 100
        scopes:
          type: array
          items:
            type: string
        expires_at:
          type: string
          format: date-time
          nullable: true

    ApiKeyCreated:
      type: object
      properties:
        id:
          type: string
          format: uuid
        key:
          type: string
          description: The API key (shown only once)
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time

    ApiKey:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          format: date-time
          nullable: true

    WebhookCreate:
      type: object
      required: [url, events]
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum:
              - match.created
              - match.settled
              - signal.created
              - signal.matched
              - option.selected

    Webhook:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
        events:
          type: array
          items:
            type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time

    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        timestamp:
          type: string
          format: date-time
        checks:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              status:
                type: string
              message:
                type: string

    UpdatePoiEngagementRequest:
      type: object
      description: |
        Partial update payload for a POI engagement. At least one field must
        be provided. All fields are optional individually.
      minProperties: 1
      properties:
        engagement_status:
          type: string
          enum:
            - pending
            - notification_sent
            - contacted
            - accepted
            - declined
            - expired
        counterparty_email:
          type: string
          format: email
          minLength: 3
          maxLength: 254
          description: |
            Recipient email for outreach. Server-side rules:
              - trimmed and lowercased before validation/persistence
              - must be a syntactically valid email address
              - 3 ≤ length ≤ 254 (RFC 5321)

            When this field is supplied and the engagement is currently
            unbound (`counterparty_org_id` is null), the server will attempt
            to auto-bind the engagement to a matching registered
            organisation. The outcome is reported in the response's
            `binding` field. A failed lookup or no-match result is
            **non-fatal** — the email is still saved.
          example: counterparty@example.com
        admin_notes:
          type: string
          maxLength: 2000
          description: Free-text admin notes (visible to all admins).
        support_notes:
          type: string
          maxLength: 4000
          description: |
            Reviewer/support-desk notes (admin-only). An empty string clears
            the field; any non-empty value stamps the editor and timestamp.
        contact_method:
          type: string
          enum: [email, phone, linkedin, whatsapp, in_person, other]
        contact_detail:
          type: string
          maxLength: 500
        contact_date:
          type: string
          format: date-time

    BindingHint:
      type: object
      description: |
        Outcome of the email → organisation auto-resolution attempt that
        runs whenever a PATCH request includes `counterparty_email`. Always
        non-fatal — the engagement update succeeds regardless of resolution
        result.
      required: [status]
      properties:
        status:
          type: string
          description: Discriminator for the binding outcome.
          enum: [bound, no_match, already_bound, lookup_error]
        org_id:
          type: string
          format: uuid
          description: |
            Present when `status` is `bound` or `already_bound`. The
            organisation the engagement is (now) bound to.
        email:
          type: string
          format: email
          description: |
            Present when `status` is `bound`, `no_match`, or `lookup_error`.
            The normalised (trimmed, lowercased) email that was processed.
        message:
          type: string
          description: |
            Present when `status` is `no_match` or `lookup_error`. A
            human-readable explanation suitable for surfacing in the
            reviewer dashboard.
      discriminator:
        propertyName: status
        mapping:
          bound: '#/components/schemas/BindingHint'
          no_match: '#/components/schemas/BindingHint'
          already_bound: '#/components/schemas/BindingHint'
          lookup_error: '#/components/schemas/BindingHint'
      example:
        status: no_match
        email: stranger@example.com
        message: >-
          Email saved, but no registered organisation matches this address
          yet. The engagement will remain unbound until the recipient signs
          up or the email is corrected.

    UpdatePoiEngagementResponse:
      type: object
      required: [engagement]
      properties:
        engagement:
          type: object
          description: The updated `poi_engagements` row.
        binding:
          allOf:
            - $ref: '#/components/schemas/BindingHint'
          description: |
            Present **only** when the PATCH request included
            `counterparty_email`. Omitted for status-only or notes-only
            updates.

    ApiError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
        requestId:
          type: string
          format: uuid

    WadAttestationCounts:
      type: object
      description: Per-side attestation tally for a WaD, with timestamps.
      required:
        - buyerAttested
        - sellerAttested
        - buyerAttestedAt
        - sellerAttestedAt
        - total
      properties:
        buyerAttested:
          type: boolean
          description: True once the buyer signatory has attested.
        sellerAttested:
          type: boolean
          description: True once the seller signatory has attested.
        buyerAttestedAt:
          type: string
          format: date-time
          nullable: true
          description: ISO-8601 timestamp of the buyer's attestation, or null if not yet attested.
        sellerAttestedAt:
          type: string
          format: date-time
          nullable: true
          description: ISO-8601 timestamp of the seller's attestation, or null if not yet attested.
        total:
          type: integer
          minimum: 0
          description: Total number of attestation records (includes witnesses if present).

    WadAttestationUi:
      type: object
      description: |
        Status-specific attestation UI model. Mirrors the rules used by the
        web client so other surfaces can render consistent copy and CTAs.
      required:
        - canAttest
        - canSeal
        - title
        - buttonText
        - helperText
        - viewerRole
        - hasAttested
        - viewerAttestedAt
        - attestations
        - nextAction
      properties:
        canAttest:
          type: boolean
          description: Server-authoritative flag — caller may submit an attestation now.
        canSeal:
          type: boolean
          description: Server-authoritative flag — both parties have attested and the WaD can be sealed.
        title:
          type: string
          description: Short headline copy describing the current attestation state.
          example: "Your attestation is required"
        buttonText:
          type: string
          nullable: true
          description: Primary CTA label, or null when no action is available to the caller.
          example: "Attest & advance to seal"
        helperText:
          type: string
          description: Longer descriptive copy explaining what will happen next.
        viewerRole:
          type: string
          enum: [buyer_signatory, seller_signatory, witness]
          description: Caller's signatory role on this WaD (witness = non-party / admin observer).
        hasAttested:
          type: boolean
          description: Whether the caller has already attested on this WaD.
        viewerAttestedAt:
          type: string
          format: date-time
          nullable: true
          description: |
            ISO-8601 timestamp of the caller's own attestation on this WaD, or
            null if the caller has not attested. Convenience field — equivalent
            to the matching entry in `attestations` for the caller's role.
        attestations:
          $ref: '#/components/schemas/WadAttestationCounts'
        nextAction:
          type: string
          enum:
            - attest
            - seal
            - await_other_party
            - download_certificate
            - view_only
          description: |
            Machine-readable next action the UI should drive:
            * `attest` — render attestation form and CTA
            * `seal` — render seal CTA (both parties attested)
            * `await_other_party` — caller has attested; show waiting state
            * `download_certificate` — terminal sealed state; offer certificate download
            * `view_only` — read-only (revoked / superseded / non-party / draft observer)

    WadAttestationUiResponse:
      type: object
      description: Envelope returned by GET /wad/{wadId}/attestation-ui.
      required: [wad_id, status, isTerminal, ui, request_id]
      properties:
        wad_id:
          type: string
          format: uuid
          description: WaD identifier echoed back from the path.
        status:
          type: string
          enum: [draft, awaiting_attestations, sealed, revoked, superseded]
          description: Current persisted WaD status.
        isTerminal:
          type: boolean
          description: True when status is `revoked` or `superseded` (no further state changes).
        ui:
          $ref: '#/components/schemas/WadAttestationUi'
        request_id:
          type: string
          format: uuid
          description: |
            Server correlation ID for this response. Surface this in any
            user-facing error messaging so support can trace the call.

  responses:
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            code: VALIDATION_ERROR
            message: "Validation failed: buyer.id is required"
            requestId: "550e8400-e29b-41d4-a716-446655440000"
    Unauthorised:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            code: UNAUTHORIZED
            message: "Invalid or missing API key"
            requestId: "550e8400-e29b-41d4-a716-446655440000"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            code: NOT_FOUND
            message: "Match not found"
            requestId: "550e8400-e29b-41d4-a716-446655440000"
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until rate limit resets
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            code: RATE_LIMIT_EXCEEDED
            message: "Too many requests"
            requestId: "550e8400-e29b-41d4-a716-446655440000"
